.MainPage {
    margin-top: 10%;
    margin-bottom:0%;
}

.ExplainSection{
    background-color: azure;
}
.PasswordSection{
    margin: 0%; 
}

.MainTitle {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 4%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 2em;
}

.TitleButtonsBar {
  text-align: center;
  margin: 5%;
}

.ReplyBox { 
    margin-top: 1cm;
    margin: 0 auto;
    width: 320px;
    text-align: center;
    border: #282c34;
    background-color: rgb(207, 204, 201);
}
.ScrollingText {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.5;
}

.TableDate {
    float: left;
    margin-right: 15px;
}
.tr{
    text-align: center;
}

.Password { 
    font-family:courier;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
  }

.Divider{
    margin: 5%;
}

.App-logo {
  
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}   

.App-link {
  color: #61dafb;
}

.LayerOutputStandardGreen{
  color: green;
  display: inline-block;
}

.LayerOutputStandard{
  color: black;
  display: inline-block;
}

.StyleSingleLayer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.StyleLayerName {
    margin-left: 15%;
}

.StyleLayerOutput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.StyleLayerBlurb {
    line-height: 1.5;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
