
.TitleButtonsBar {
    text-align: center;
    margin: 5%;
  }
  
.ReplyBox { 
    margin-top: 1cm;
    margin: 0 auto;
    width: 320px;
    text-align: center;
    border: #282c34;
    line-height: 3;
    font-size: 20px;
    
}   

.Title {
    margin-left: 15%;
    text-align: left;
}

.StyleLayerExplain {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.5;
}

.StyleLayerExplain::first-letter { 
    font-size: 130%;
  }

 
  