
.TitleButtonsBar {
    text-align: center;
    margin: 5%;
  }
  
  .ReplyBox { 
      margin-top: 1cm;
      margin: 0 auto;
      width: 320px;
      text-align: center;
      border: #282c34;
      background-color: rgb(207, 204, 201);
  }